/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nerko One', cursive;
    background-color: lightblue;
}

.container{
    width: 800px;
    margin: auto;
}

/* UTILITY */


/* HEADER */
header h1{
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(17, 110, 141);
    text-align: center;
    color: white;
    padding: 10px;
}

/* MAIN-CONTENT */
.section .carte{
    height: 200px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    margin: 10px;
    float: left;
    width: calc(100% / 4 - 20px);
    box-shadow: 3px 3px rgba(17, 110, 141, 0.3);
    position: relative;
}

.carte img{
    width: 100%;
}

.carte .title{
    font-size: 30px;
    position: absolute;
    bottom: 0px;  
    left: 25px; 
}

#air-ballon{
    color: rgb(236, 76, 103);
}

.carte :hover{
    visibility: visible;    
}
